
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet"  type="text/css" href="{% static 'core/css/styles.css' %}" >
</head>
<body>
{% block navbar%}
    <nav>
        <div>
            {% load static %}
            <a class="img-logo" href="">
                <img src="{% static 'core/img/libro.png'%}" alt="">
            </a>
        </div>
        <div class="divisor-ul-right">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <!-- carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="{% static 'core/img/hacia_un_futuro_vegano.png'%}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">

                <img src="{% static 'core/img/liberacion_animal.png'%}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">

                <img src="{% static 'core/img/mente_millonaria.png'%}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- comentario abajo de carrusel -->
    
    <div class="container-p card">
        <div class="card-body">
            <p>Libreria html dedicada a vender y arrendar libros a nuestros clientes,
                y ahora mas ampliados con un sitio web para su comodidad</p>
        </div>  
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for ve in libro%}
                    <tr>
                    <th scope="col">ISBN</th><th scope="col">Nombre</th><th scope="col">Autor</th><th scope="col">Descripcion</th><th scope="col">Categoria</th></tr>
                    <td>{{ve.ISBN}}</td><td>{{ve.nombreLibro}}</td><td>{{ve.autor}}</td><td>{{ve.Descripcion}}</td><td>{{ve.categoria}}</td>
                    <td><a href="{% url 'form_mod_libro' ve.ISBN %}">Modificar</a></td>
                    <td><a href="{% url 'form_mod_libro' ve.ISBN %}">Eliminar</a></td>
                    </tr> 
                    {%endfor%}
                </tbody>
            </table>
            <a href="{% url 'form_libro'%}">Nuevo Libro</a>
        </div>
    </div>               

    <!-- pie de pagina -->
    <footer class="foot-page">
        <div class="contact-container">
            <ol class="o-list">
                <li class="title-contact">Contactos</li>
                <li>0224213146</li>
                <li>+56937379622</li>
                <li>libreria@gmail.cl</li>
            </ol>
        </div>
        <div class="container-social">
            <ol class="o-list"> 
                <li class="title-social">Siguenos en</li>
                
                    <a href="https://www.facebook.com/">

                        <img src="{% static 'core/img/facebook.png'%}"alt="">
                    </a>
                    <a href="https://twitter.com/" class="two-three">

                        <img src="{% static 'core/img/gorjeo.png'%}" alt="">
                    </a>
                    <a href="https://www.instagram.com/" class="two-three">

                        <img src="{% static 'core/img/instagram.png'%}" alt="">
                    </a>
            </ol>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    
</body>
</html>